<div class="container mb-5 bg-success text-light p-5" style="height: 400px">
    <div class="row">
        <div class="col-lg-4"></div>
        <h3><i class="fa-solid fa-graduation-cap"></i>Cookpedia</h3>
        <p class="text-align-justify">Discover 100+ recipes in your hand with the best recipe. Help you to find the easiest way to cook.</p>
    </div>

    <div class="col-lg-3"></div>
    <div class="col-lg-5">
        <h3>Sign up for our news letter</h3>
        <div class="d-flex my-3">
            <input type="text" placeholder="enter your email id" class="form-control ">
            <button style="background-color: green;" class="btn text-light ms-2">   <i class="fa-solid fa-paper-plane"></i></button>
        </div>
        <div class="row">
            <div class="col-4">
                <h5>Menu</h5>
                <a class="nav-link text-active" routerLink="/">Home</a>
                <a class="nav-link text-active" routerLink="/all-recipes">Recipes</a>
                <a class="nav-link text-active" routerLink="/about">About</a>
                <a class="nav-link text-active" routerLink="/contact">Contact</a>
            </div>
            <div class="col-4">
                <h5>Menu</h5>
                <a class="nav-link text-active" routerLink="/login">Login</a>
                <a class="nav-link text-active" routerLink="/register">Register</a>
                <a class="nav-link text-active" routerLink="/">Terms of use</a>
                <a class="nav-link text-active" routerLink="/">Privacy and policy</a>
            </div>
            <div class="col-4">
                <h5>Social Media</h5>
                <a class="nav-link text-active" routerLink="/">Facebook</a>
                <a class="nav-link text-active" routerLink="/">Instagram</a>
                <a class="nav-link text-active" routerLink="/">Twitter</a>
                <a class="nav-link text-active" routerLink="/">Youtube</a>
            </div>
        </div>
    </div>
</div>