<app-header></app-header>
<div class="container">
    <div class="row mb-5">
        <div class="col-lg-6">
            <a href="/all-recipes" class="text-decoration-none text-secondary">Back to recipe list</a>
            <br>
            <img class="img-fluid my-3" [src]="recipe.image" alt="Recipe Image">
            <div class="d-flex justify-content-between mt-3">
                <button (click)="downloadRecipe()" class="btn btn-success" aria-label="Download Recipe">Download Button</button>
                <button (click)="saveRecipe()" class="btn btn-primary" aria-label="Save Recipe">Save recipe</button>
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="mb-3">{{recipe.name}}</h2>
            <div class="d-flex justify-content-between my-3">
                <p class="fw-bold">Cuisine: {{recipe.cuisine}}</p>
                <p class="fw-bold">Servings: {{recipe.servings}}</p>
                <p class="fw-bold">Difficulty: {{recipe.difficulty}}</p>
            </div>
            <div class="d-flex justify-content-between my-3">
                <p class="fw-bold">Preparation Time</p>
                <h6><i class="fa-solid fa-clock me-2"></i> {{recipe.prepTimeMinutes}} mins</h6>
            </div>
            <div class="d-flex justify-content-between my-3">
                <p class="fw-bold">Cooking Time</p>
                <h6><i class="fa-solid fa-clock me-2"></i> {{recipe.cookTimeMinutes}} mins</h6>
            </div>
            <div class="d-flex justify-content-between my-3">
                <p class="fw-bold">Calories per serving</p>
                <h6>{{recipe.caloriesPerServing}} kcal</h6>
            </div>
            <div class="my-4">
                <h2>Ingredients</h2>
                <ul class="list-group">
                    @for (ingredient of recipe.ingredients; track $index) {
                        <li class="list-group-item">{{ingredient}}</li>
                    }
                </ul>
            </div>
            <div>
                <h2>Cooking Instructions</h2>
                <ol class="list-group list-group-numbered">
                    @for (instruction of recipe.instructions; track $index) {
                        <li class="list-group-item">{{instruction}}</li>
                    }
                </ol>
            </div>
        </div>
    </div>

    <div class="my-5">
        <h2>Related Recipes</h2>
        <div class="row">
            @if(allRelatedRecipe.length > 0) {
                @for (recipe of allRelatedRecipe; track $index) {
                    <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
                        <div routerLink="/recipe/{{recipe._id}}/view" class="card h-100 shadow-sm">
                            <img class="card-img-top" [src]="recipe.image" alt="Related Recipe Image">
                            <div class="card-body">
                                <h5 class="card-title">{{recipe.name}}</h5>
                            </div>
                        </div>
                    </div>
                }
            } @else {
                <div class="alert alert-warning fw-bolder text-center">
                    No related recipes found
                </div>
            }
        </div>
    </div>
</div>
<app-footer></app-footer>