<app-header></app-header>
<div class="container">
    
    <div class="row align-items-center my-5">
        <div class="col-lg-6 bbg-success align-items-center">
            <img style="align-items: center" class="img-fluid" src="https://images.immediate.co.uk/production/volatile/sites/30/2022/08/Garam-masala-vegetable-curry-15845cb.jpg?quality=90&resize=556,505" alt="">
        </div>
        <div class="col-lg-6">
            <h1>Welcome to cookpedia</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatum nemo aliquid culpa eos totam.</p>
        </div>
        <div class="col-lg-4">
            <h2>About us</h2>
            <p style="text-align: justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, quidem?</p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos.</li>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
            </ul>
            <button routerLink="/" class="btn btn-success ">Know more about us</button>
        </div>
        <div class="col-lg-6">
            <img src="https://images.immediate.co.uk/production/volatile/sites/30/2022/08/Garam-masala-vegetable-curry-15845cb.jpg?quality=90&resize=556,505" alt="">
        </div>
    </div>
</div>
<app-footer></app-footer>