<div class="row">
    <div class="col-lg-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10">
        @if(id){
            <h1 class="my-2 text-center">Update Recipe Details</h1>
        } @else {
            <h1 class="my-2 text-center">Add Recipe Details</h1>
        }
        <div class="container mt-5 rounded text-center p-5 shadow w-75">
            @if(recipeDetails.image){
                <img class="mb-2" width="150px" height="150px" src="{{recipeDetails.image}}" alt="no image">
            }
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-2">
                        <input [(ngModel)]="recipeDetails.name" type="text" placeholder="Recipe name" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input [(ngModel)]="recipeDetails.prepTimeMinutes" type="text" placeholder="Preparation Time in Minutes" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input [(ngModel)]="recipeDetails.image" type="text" placeholder="Recipe Img URL" class="form-control">
                    </div>
                    <div class="mb-2">
                        <label for="">Choose Cuisine Type</label>
                        <select [(ngModel)]="recipeDetails.cuisine" name="cuisine" id="cuisine" class="form-control">
                            <option value="" selected disabled hidden>Select Cuisine</option>
                            @for (cuisine of cuisineArray; track $index) {
                                <option value="{{cuisine}}">{{cuisine}}</option>
                            }
                        </select>
                    </div>
                    <div class="mb-2">
                        <div class="d-flex align-items-center mb-2">
                            <textarea #ingredients name="" id="" placeholder="Recipe Ingredients" class="form-control"></textarea>
                            <button (click)="addIngredient(ingredients)" class="btn btn-primary">+</button>
                        </div>
                        @for (item of ingredientArray; track $index) {
                            <div class="d-flex align-items-center mb-2">
                                <input value="{{item}}" name="" id="" placeholder="Recipe Ingredients" class="form-control">
                                <button (click)="removeIngredient(item)" class="btn btn-danger ms-1"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        }
                       </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <input [(ngModel)]="recipeDetails.servings" type="text" placeholder="Recipe Serving(eg:4)" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input [(ngModel)]="recipeDetails.cookTimeMinutes" type="text" placeholder="Cooking Time in Minutes" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input [(ngModel)]="recipeDetails.caloriesPerServing" type="text" placeholder="Calories per serving" class="form-control">
                    </div>
                    <div class="mb-2">
                        <label for="">Choose Difficulty Type</label>
                        <select [(ngModel)]="recipeDetails.difficulty" name="difficulty" id="difficulty" class="form-control" #difficultySelect="ngModel">
                            <option value="" selected disabled hidden>Select Difficulty</option>
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <div class="d-flex align-items-center mb-2">
                            <textarea #instructions name="" id="" placeholder="Add Cooking Instructions" class="form-control"></textarea>
                            <button (click)="addInstruction(instructions)" class="btn btn-primary">+</button>
                        </div>
                        @for (item of instructionsArray; track $index) {
                            <div class="d-flex align-items-center mb-2">
                                <input value="{{item}}" name="" id="" placeholder="Recipe Instructions" class="form-control">
                                <button (click)="removeInstruction(item)" class="btn btn-danger ms-1"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="border rounded p-2">
                    <p class="mb-2">Choose meal type:
                        @if(id){
                            @for (item of mealArray; track $index) {
                                <span class="me-1 border rounded p-1">{{item}} <button (click)="removeMealType(item); uncheckMealType(item)" class="btn"><i class="fa-solid fa-close"></i></button></span>
                            }
                        } @else {
                            @for (item of mealArray; track $index) {
                                <span class="me-1 border rounded p-1">{{item}}</span>
                            }   
                        }
                    </p>
                    <div class="d-flex flex-wrap my-2">
                        @for (meal of mealTypeArray; track $index) {
                            <div  class="border rounded p-1 me-2">
                                <label  [for]="meal">
                                    <input #mealCheckbox (change)="mealTypeSelect($event)"  type="checkbox" [name]="meal" [id]="meal" class="me-2">
                                    {{meal}}
                                </label>
                            </div>
                        }
                    </div>                    
                </div>            
            </div>
            @if(id) {
                <button (click)="editRecipe()" class="btn btn-warning">Update Recipe</button>
            } @else {
                <button (click)="addRecipe()" class="btn btn-success">Add Recipe</button>
            }
            </div>
    </div>
</div>