<app-header></app-header>
<div class="container">
    <div class="row align-items-center justify-content-center p-5 text-light fw-bolder bg-success fs-1">
        Your Recipe Collection
    </div>
    <div class="row my-5">
        @if (allRecipes.length>0) {
            @for (recipe of allRecipes; track $index) {
                <div class="col-lg-3">
                    <div class="p-3">
                        <img routerLink="/recipe/{{recipe.recipeId}}/view" [src]="recipe.image" class="card-img-top" alt="">
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <h5 class="card-title">{{recipe.name}}</h5>
                            <button (click)="removeSaveRecipe(recipe._id)" class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
                        </div>
                    </div>
                </div>
            }
        } @else {
            <div class="fw-bolder fs- text-center">Your recipe collection is empty</div>
        }
        
    </div>
</div>
<app-footer></app-footer>