<app-header></app-header>

<div class="container my-5">
    <div class="bg-success text-light text-center py-5 rounded shadow-lg">
        <h1 class="display-4">Contact Us</h1>
        <p class="lead">We would love to hear your feedback!</p>
    </div>

    <div class="row mt-5">
        <div class="col-lg-6 mb-4">
            <h3 class="fw-bold">Get in Touch</h3>
            <p class="text-muted">Feel free to reach out to us for any inquiries or feedback. We are here to help!</p>
            <div class="mt-3 fs-5">
                <p><i class="fas fa-map-marker-alt"></i> 123 Main Street, City, Country</p>
                <p><i class="fas fa-phone"></i> +1 234 567 890</p>
                <p><i class="fas fa-envelope"></i> contactexample.com</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow-lg p-4">
                <form [formGroup]="testimonyForm" (ngSubmit)="addTestimony()">
                    <h1 class="text-center">Testimonials</h1>
                    <div class="mb-3">
                        <label for="name" class="form-label">Your Name:</label>
                        <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="Enter your name">
                    </div>
                    
                    <div class="mb-3">
                        <label for="email" class="form-label">Your Email:</label>
                        <input type="email" id="email" name="email" formControlName="email" class="form-control" placeholder="Enter your email">
                    </div>
                    
                    <div class="mb-3">
                        <label for="message" class="form-label">Your Testimonial:</label>
                        <textarea id="message" formControlName="message"     name="message" class="form-control" rows="4" placeholder="Write your feedback here..."></textarea>
                    </div>
                    
                    <button type="submit" class="btn btn-success w-100">Submit</button>
                </form>
            </div>
        </div>
        
    </div>
    <div class="mt-5">
        <h1>MAP</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.97521744499!2d76.3426426!3d10.018903600000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080ffce877d5ef%3A0x8bef6870ad11b98!2sLuminar%20Technolab%20-%20Software%20Training%20Institute%20in%20Kochi!5e0!3m2!1sen!2sin!4v1740468586153!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
    </div>
</div>

<app-footer></app-footer>